{% extends 'base.html' %}
{% block title_block %}
    Server Error
{% endblock %}
{% block body_block %}
    <div class = "container">
        <h1>500 Server Error</h1>
            <p>
                Something <a href="http://25.media.tumblr.com/514c55ecbda910621f0f1b3f3f1155ab/tumblr_moe8r85JTn1qlh2voo1_400.gif" target="_blank">
                went wrong</a> on our server. Try again and if this keeps happening, contact us at support@usecirca.com
                and we'll fix it as soon as possible.
            </p>
    </div>
{% endblock %}