{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    About Circa
{% endblock %}
{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
{% endblock %}
{% block body_block %}
<div class = "container">
    <h1>About</h1>
</div>
    <section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">
							Circa is a Georgia Tech startup that removes the hassle of buying
                            and selling with your neighbors. We handle money, delivery, and returns so you don't have to!
						</p>
						<div class="row">
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown">
									<div class="icon">
										<i class="glyphicon glyphicon-cog"></i>
									</div>
									<div class="description">
										<h4>No Haggling</h4>
										<p>Sellers list their items and set an asking price. Buyers make offers. If an offer remains undefeated
                                            for an hour, it is automatically accepted.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
									<div class="icon">
										<i class="glyphicon glyphicon-hourglass"></i>
									</div>
									<div class="description">
										<h4>Fast Delivery</h4>
										<p>We pick up the item from the seller and deliver to the buyer within 24 hours.
                                            The seller is paid electronically. Awkward meetups are a thing of the past!
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
									<div class="icon">
										<i class="glyphicon glyphicon-heart"></i>
									</div>
									<div class="description">
										<h4>Easy returns</h4>
										<p>Unhappy with your purchase? Let us know within 30 days of purchase and you
                                            get a full refund, no questions asked. Never get scammed again!
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <div class = "container">
               <h3>How It Works</h3>
               <div class ="take-space"></div>
               <h5> Buying </strong></h5>
                    <p>
                        Buying on Circa is easy!
                        <ol>
                                <li>Make an offer on an item (or use the Buy Now option to skip to step 3)</li>
                                <li>If nobody beats your offer in an hour, your offer is automatically accepted!</li>
                                <li>Pay securely online</li>
                                <li>The item arrives at your doorstep the next day</li>
                                <li>Profit???</li>
                        </ol>
                    </p>
               <div class ="take-space"></div>
               <h5> Selling </h5>
                   <p>
                       Sell your stuff and make money with just a few clicks!
                       <ol>
                                <li>Post your item, create a starting offer and buy now price, and share the link with others</li>
                                <li>We pick up the item and you get paid. Circa takes a commission of $2 or 15% (whichever is greater)
                                    to help us cover payment processing, delivery costs, and hosting expenses.</li>
                                <li>Profit!!!</li>
                       </ol>
                   </p>


        </div>
    </div>

{% endblock %}
