{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    About Circa
{% endblock %}
{% block head_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
{% endblock %}
{% block body_block %}
<div class = "container">
    <h1>About</h1>
</div>
    <section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">
							Circa is a Georgia Tech startup that removes the hassle of buying
                            and selling with your neighbors. We handle money, delivery, and returns so you don't have to!
						</p>
						<div class="row">
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown">
									<div class="icon">
										<i class="glyphicon glyphicon-cog"></i>
									</div>
									<div class="description">
										<h4>No Haggling</h4>
										<p>Sellers list their items and set an asking price. Buyers make offers. If an offer remains undefeated
                                            for an hour, it is automatically accepted.
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
									<div class="icon">
										<i class="glyphicon glyphicon-hourglass"></i>
									</div>
									<div class="description">
										<h4>Fast Delivery</h4>
										<p>We pick up the item from the seller and deliver to the buyer within 24 hours.
                                            The seller is paid electronically. Goodbye, awkward meetups!
										</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 feature-box-container">
								<div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
									<div class="icon">
										<i class="glyphicon glyphicon-heart"></i>
									</div>
									<div class="description">
										<h4>Easy Returns</h4>
										<p>Unhappy with your purchase? Let us know within 30 days of purchase and you
                                            get a full refund, no questions asked. Never get scammed again!
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
        <div class = "container">
            <h3>How It Works</h3>
            <div class="row">
                <div class ="take-space"></div>
                <div id="staggered-sell" class="left col l6 m6 s12">
                    <h4> Selling </h4>
                    <p>
                        <ul>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> Post your item</h5>
                            </li>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> Item gets sold</h5>
                            </li>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> We pick up the item</h5>
                            </li>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> You get paid*</h5>
                            </li>
                        </ul>
                        <small>*Circa takes a commission of $2 or 15% (whichever is greater) for delivery costs.</small>
                    </p>
                </div>
                <div id="staggered-buy" class="left col l6 m6 s12">
                    <h4> Buying </h4>
                    <p>
                        <ul>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> Make an offer</h5>
                            </li>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> Offer accepted in an hour*</h5>
                            </li>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> Pay securely online</h5>
                            </li>
                            <li>
                              <h5><i class="mdi-toggle-check-box"></i> Item arrives on your doorstep</h5>
                            </li>
                        </ul>
                        <small>*As long as no higher offers are made in that time.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
