{% extends 'base.html' %}
{% load static %}
{% block title_block %}{{ item.title }}|Circa{% endblock %}
{% block head_block %}
    <script type="text/javascript">
        function countdown(days, hours, minutes, seconds, display) {
            var d = parseInt(days, 10),
            h = parseInt(hours, 10),
            m = parseInt(minutes, 10),
            s = parseInt(seconds, 10) - 1;

            if(d < 0 || h < 0 || m < 0 || s < 0) {
                display.textContent = "This auction is over!";
            } else {
                setInterval(function() {
                    var displayStr = " " + d + " days, "
                     + h + " hours, " + m + " minutes, and " + s + " seconds.";
                    if(--s < 0) {
                        if(--m < 0) {
                            if(--h < 0) {
                                if(--d < 0) {
                                    displayStr = "This auction is over!";
                                } else {
                                    h = 23;
                                }
                            } else {
                                m = 59;
                            }
                        } else {
                            s = 59;
                        }
                    }
                    display.textContent = displayStr;
                }, 1000);
            }
        }
        window.onload = function () {
        var display = document.querySelector('#time');
        countdown({{ days }}, {{ hours }}, {{ minutes }}, {{ seconds }}, display);
        };
  </script>
{% endblock %}

{% block body_block %}
{% load cropping %}
<div class = "container">
    {% if user.id and user.id == item.seller.id %}
    <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            This is your item. Share this link and get more bids!
    </div>
    {% endif %}

    {% if item.auction.current_bidder.id and user.id == item.auction.current_bidder.id %}
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            You are the highest bidder!
        </div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            {{error_message}}
        </div>
    {% endif %}

    <div class="panel panel-info">
        <div class = "panel-heading"><h1 class = "panel-title">{{ item.title }}</h1></div>
        <div class = "panel-body">
            <div class = "panel-info">
                  <div class="row">
                       <div class="col-xs-12 col-md-3">
                           <span class = "hidden-xs">

                               <a href="#" class="thumbnail"><img src="{% cropped_thumbnail item "cropping" scale=1.0 %}" alt="..."></a>
                           </span>
                           <span class = "hidden-sm hidden-md hidden-lg">
                               <a href="#" class="thumbnail"><img src="{% cropped_thumbnail item "cropping" scale=0.78 %}" alt="..."></a>
                           </span>
                       </div>
                       <div class="col-xs-12 col-md-4">
                           {{ item.description }}
                           <br>
                           <br>
                           <em>Ships from zipcode {{ item.auction.zipcode }}</em>
                           <br>
                           <br>
                           This auction ends in<strong><span id="time"> <strong>{{ days }} days, {{ hours }} hours, {{ minutes }}
                            minutes, and {{ seconds }} seconds. </span></strong>
                            <br>
                       </div>

                       <div class ="col-xs-12 col-md-5">
                            Current Bid: <strong>${{ item.auction.current_bid }}</strong>
                            <br>
                            <br>
                            <form class="form-inline" action = "/auction/{{ auction.id }}/" method = "post">
                                <div class = "form-group">
                                 {% csrf_token %}
                                 {{ form.as_p }}
                                 {% if user.id and user.id == item.seller.id or over == 1%}
                                 <input type = "submit" class ="btn btn-primary disabled" value = "Place Bid"/>
                                 {% else %}
                                 <input type = "submit" class ="btn btn-primary" value = "Place Bid"/>
                                 {% endif %}
                                 </div>
                            </form>
                            <br>
                            <div class="form-group">
                                <p>Buy now for: <strong>${{ item.auction.buy_now_price }}</strong></p>
                                {% if user.id and user.id == item.seller.id or over == 1%}
                                 <input type = "submit" class ="btn btn-success disabled" value = "Buy Now"/>
                                {% else %}
                                <script src="https://checkout.stripe.com/checkout.js"></script>

                                <input type = "submit" id="buyNow" class ="btn btn-success" value = "Buy Now"/>

                                <script type = "text/javascript">
                                      var stripe_amount = "{{amount}}"
                                      var item = "{{item.title}}"
                                      var handler = StripeCheckout.configure({
                                        key: 'pk_test_0wdCscoPvOmHNVl3jBMkFCmX',
                                        // image: '/img/documentation/checkout/marketplace.png',
                                        token: function(token) {
                                          var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                                          var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                                          $("form").append(tokenInput).append(emailInput).submit();
                                        }
                                      });

                                      $('#buyNow').on('click', function(e) {
                                        // Open Checkout with further options
                                        handler.open({
                                          name: 'Circa',
                                          description: item,
                                          amount: stripe_amount
                                        });
                                        e.preventDefault();
                                      });

                                      // Close Checkout on page navigation
                                      $(window).on('popstate', function() {
                                        handler.close();
                                      });
                                </script>
                                {% endif %}
                            </div>


                       </div>
                  </div>
            </div>
        </div>
    </div>

    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
    </form>
   <h4><small>Circa guarantees one day shipping and no-questions-asked returns for 30 days.</small></h4>
</div>

{% endblock %}