<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ item.title }} | Circa</title>
    <script type="text/javascript">
        function countdown(days, hours, minutes, seconds, display) {
            var d = parseInt(days, 10),
            h = parseInt(hours, 10),
            m = parseInt(minutes, 10),
            s = parseInt(seconds, 10) - 1;

            if(d < 0 || h < 0 || m < 0 || s < 0) {
                display.textContent = "This auction is over!";
            } else {
                setInterval(function() {
                    var displayStr = "The auction ends in " + d + " days, "
                     + h + " hours, " + m + " minutes, and " + s + " seconds";
                    if(--s < 0) {
                        if(--m < 0) {
                            if(--h < 0) {
                                if(--d < 0) {
                                    displayStr = "This auction is over!";
                                } else {
                                    h = 23;
                                }
                            } else {
                                m = 59;
                            }
                        } else {
                            s = 59;
                        }
                    }

                    display.textContent = displayStr;
                }, 1000);
            }
        }
        window.onload = function () {
        var display = document.querySelector('#time');
        countdown({{ days }}, {{ hours }}, {{ minutes }}, {{ seconds }}, display);
        };
  </script>
</head>
<body>
    <h1>{{ item.title }}</h1>
    <h3>{{ item.description }}</h3>
    <h4><em>Ships from zipcode {{ auction.zipcode }}</em></h4>
    <h3>Current bid: $<strong>{{ auction.current_bid }}</strong></h3>
    <form action = "/auction/{{ auction.id }}/" method = "post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type = "submit" value = "Place Bid"/>
    </form>
    <h3>You can buy this item right now for ${{ auction.buy_now_price }}</h3>
    <h3><span id="time">The auction ends in {{ days }} days, {{ hours }} hours, {{ minutes }} minutes, and {{ seconds }} seconds</span></h3>

    <p>Circa guarantees one day shipping and no-questions-asked returns for 30 days.  </p>
</body>
</html>