{% extends 'base.html' %}
{% load static %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css'%}">
    <script type="text/javascript" src="{% static 'js/app.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js'%}"></script>
{% endblock %}
{% block title_block %}
    Dashboard
{% endblock %}
{% block nav_block %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
{% endblock %}

{% block body_block %}
<body>
  <div id="page-wrapper" class="active">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li id="toggle-sidebar" class="sidebar-main">
          <a href="#">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-list">
          <a href="/pending/">Pending Payments <span class="menu-icon glyphicon glyphicon-dashboard"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="/offers/">Active Offers <span class="menu-icon glyphicon glyphicon-fire"></span></a>
        <li class="sidebar-list">
          <a href="/earnings/">Earnings <span class="menu-icon glyphicon glyphicon-usd"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Active Items <span class="menu-icon glyphicon glyphicon-book"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#">Settings <span class="menu-icon glyphicon glyphicon-cog"></span></a>
        </li>

      </ul>

    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
      <div class="row header">
          <div class="col-xs-12">
            <div class="meta pull-left">
              <div class="page">
                <h3>Dashboard</h3>
              </div>
            </div>

        </div>

        <!-- End Header Bar -->


        <!-- Main Content -->

          <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon green pull-left">
                    <a href="/pending/"><i class="glyphicon glyphicon-credit-card"></i></a>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">{{pending}}</div>
                    <div class="comment">Pending Payments</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon red pull-left">
                    <a href="/offers/"><i class="glyphicon glyphicon-fire"></i></a>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">{{offers}}</div>
                    <div class="comment">Active Offers</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon orange pull-left">
                    <a href="/earnings/"><i class="glyphicon glyphicon-usd"></i></a>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">${{earnings}}</div>
                    <div class="comment">Earnings</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <div class="spacer visible-xs"></div>
            <div class="col-lg-3 col-md-6 col-xs-12">
              <div class="widget">
                <div class="widget-body">
                  <div class="widget-icon blue pull-left">
                    <i class="glyphicon glyphicon-book"></i>
                  </div>
                  <div class="widget-content pull-left">
                    <div class="title">{{active_items}}</div>
                    <div class="comment">Active Items</div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-title">
                  <i class="glyphicon glyphicon-list"></i> Order History
                  <div class="clearfix"></div>
                </div>
                <div class="widget-body medium no-padding">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr><th class="text-center">Date</th><th class="text-center">Item</th><th class="text-center">Price</th></tr>
                      </thead>
                      <tbody>
                        {% for order in orders %}
                        <tr><td class="text-center">{{order.listing.end_date.month}}/{{order.listing.end_date.day}}</td><td class="text-center"><a href="/listing/{{order.listing.id}}">{{order.title}}</a></td><td class="text-center">${{order.listing.current_offer}}</td></tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        <!-- End Main Content -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->


{% endblock %}