{% extends 'base.html' %}
{% block title_block %}
Edit {{item.title}}
{% endblock %}
{% block body_block %}
<div class = "container">
    <div class="row">
        <div class="card col s10 offset-s1 m8 offset-m2 l6 offset-l3">
            <div class="card-content center ">
                <span class="card-title black-text" style="font-size: 30px;">Edit Listing</span>
                <form id ="edit_form" method="post" action="/edit/{{listing.id }}/">
                    {% csrf_token %}
                        {{ form.title.errors }}
                    <p>
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title }}
                    </p>
                    {{ form.description.errors }}
                    <p>
                        <label for="{{ form.description.id_for_label }}">Description</label>
                        {{ form.description }}
                    </p>
                    {{ form.category.errors }}
                    {{ form.category }}

                    {{ form.price.errors }}
                    <p>
                        <label for="{{ form.price.id_for_label }}">Price</label>
                        {{ form.price }}
                    </p>
                    {{ form.zipcode.errors }}
                    <p>
                        <label for="{{ form.zipcode.id_for_label }}">Shipping Zip Code</label>
                        {{ form.zipcode }}
                    </p>

                    <button id="update-listing" class="btn-large waves-effect waves-light teal accent-4" type="submit"
                            name="action">Update Listing<i class="mdi-content-send right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}