{% extends 'base.html' %}
{% block title_block %}
Edit {{item.title}}
{% endblock %}
{% block body_block %}
<div class = "container">
    <h1>Edit Listing</h1>

    <form id ="edit_form" method="post" action="/edit/{{listing.id }}/">
        {% csrf_token %}
        <div class="row">
            {{ form.title.errors }}
            <p class="input-field col s12 m9 l6">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }}
            </p>
        </div>

        <div class="row">
            {{ form.description.errors }}
            <p class="input-field col s12 m8">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }}
            </p>
        </div>

        <div class="row">
            {{ form.category.errors }}
            <div class="col s12 m4">
            {{ form.category }}
            </div>
        </div>

        <div class="row">
            {{ form.price.errors }}
            <p class="input-field col s12 m6 l4">
                <label for="{{ form.price.id_for_label }}">Price</label>
                {{ form.price }}
            </p>
        </div>

        <div class="row">
            {{ form.zipcode.errors }}
            <p class="input-field col s12 m5 l4">
                <label for="{{ form.zipcode.id_for_label }}">Shipping Zip Code</label>
                {{ form.zipcode }}
            </p>
        </div>

        <button id="update-listing" class="btn-large waves-effect waves-light teal accent-4" type="submit"
                name="action">Update Listing<i class="mdi-content-send right"></i>
        </button>
    </form>
</div>
{% endblock %}