{% extends 'base.html' %}
{% block title_block %}
Help
{% endblock %}
{% block body_block %}
    <div class = "container">
       <h1>Help</h1>
       <dl>
           <dt>Why can't I make an offer on an item?</dt>
               <dd>In order to ensure quick delivery and returns, we only serve the zip codes around Georgia Tech: 30308,
                   30309, 30313, 30318, and 30332. If your shipping address isn't in those zips, we can't deliver the
                   item to you. Shoot us an email (support@usecirca.com) if you want us to expand to your zip code!</dd>
               <br>
           <dt>What do I do after my offer has been accepted?</dt>
                <dd>
                    Visit <a href = "/pending"> your pending offers page </a> to pay for your item so you can get your stuff!
                    We'll remind you via email as well.
                </dd>
                <br>
            <dt>How long until I receive my stuff?</dt>
                <dd>
                    You'll receive it no later than 24 hours after the seller hands it off to us. Most of the time you'll
                    get it the same day!
                </dd>
                <br>
           <dt>Somebody bought my item. How do I schedule a pickup?</dt>
                <dd>
                    When your item is purchased, we'll contact you via email to schedule a pickup. The sooner you schedule it,
                    the faster you get paid! We're actively working on more efficient means.
                </dd>
                <br>
           <dt>Is my credit card number safe on Circa?</dt>
                <dd>
                    Our site uses <a href = "https://en.wikipedia.org/wiki/Transport_Layer_Security">Secure Sockets Layer
                    </a> to force <a href = "https://en.wikipedia.org/wiki/HTTPS">HTTPS </a> on every page, ensuring
                    that data transferred between your computer and Circa is encrypted. Circa uses
                    <a href = "https://stripe.com">Stripe</a> for payment processing, so your
                    credit card number never touches our server. Even if we're hacked, your credit card is safe.
                    You can learn more about <a href = "https://stripe.com/help/security">Stripe's security measures
                    here.</a>
                    <br>
                    If you find a security issue or bug of any other kind, please email support@usecirca.com immediately
                    and we'll resolve it as soon as possible.
                </dd>
                <br>
           <dt>I still need help! What do I do?</dt>
                <dd>
                    Email us at support@usecirca.com. We'll get back to you in under 24 hours!
                </dd>
                <br>
           <dt>Is it just me, or do you guys have an unhealthy obsessions with Nicolas Cage?</dt>
                <dd><a href="http://i.imgur.com/RrYhTGq.gif" target="_blank">Obsession?</a></dd>
        </dl>
    </div>
{% endblock %}