{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" media="screen">
    <title>
        Circa - Buy and Sell Locally
    </title>
</head>
<body>
    {%  if items %}
    <div class = "container">
        <div class ="list-group">
            {% for item in items %}
                {% if item.auction.id %}

                    <div class="panel panel-default">
                        <div class = "panel-heading">
                            <h3 class = "panel-title"><a href="/auction/{{item.auction.id}}">{{item.title}}</a></h3>
                        </div>
                        <div class = "panel-body">
                            <div class = "panel-info">
                                <div class="row">
                                    <div class="col-xs-2 col-md-2">
                                        <a href="#" class="thumbnail">
                                             <img src="http://placehold.it/75x75" alt="...">
                                         </a>
                                     </div>
                                     <div class="col-xs-5 col-md-7">
                                       {{ item.description }}
                                      </div>
                                      <div class ="col-xs-5 col-md-3">
                                       Current Bid: <strong>${{ item.auction.current_bid }}</strong>
                                       <br>
                                       Buy now for: <strong>${{ item.auction.buy_now_price }}</strong>
                                      <br>
                                       Auction ends in <strong> 97 hours</strong>.
                                       </div>

                                </div>
                            </div>
                        </div>


                    </div>

                {% endif %}
            {% endfor %}
        </div>

        {% else %}
            <h2>This is awkward...there's nothing for sale!</h2>
    {% endif %}
    <a href="/sell/">Why don't you sell something?</a>
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>