{% extends 'base.html' %}
{% load static %}
{% block head_block %}
<style text="text/css">
    a.collection-item.category {
    color: #009ee1;
    }

    a.collection-item.category.active {
    background-color: #009ee1;
    color: #eafaf9;
    }

    .categories-wrapper.pinned {
    width: 15%;
    }

    .card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
    }
</style>

<link href="{% static 'css/jumbotron-narrow.css'%}" rel="stylesheet" media="screen">
<link href="{% static 'css/main.css'%}" rel="stylesheet" media="screen">

{% endblock %}

{% block body_block %}
{% if not user.id and not category%}
<div class="container">
    <div class="take-space"></div>
    <div class="jumbotron">
        <h1>Buy and Sell in Atlanta</h1>

        <p class="lead"> Buy goods locally and have them delivered right to your door
        </p>

        <p><a class="waves-effect waves-light btn-large green lighten-2 no-underline" href="/about/"><i
                class="mdi-action-info left"></i>Learn
            more</a>
        </p>
    </div>
</div>
{% endif %}

<div class="take-space"></div>
<div class="container">
<div class="row">
    <div class="col hide-on-small-only m3 l3">
        <div class="categories-wrapper" style="padding: 0px 15px 15px;">
            <div class="collection">
                <a href="/" class="collection-item category {% if not category %}active{% endif %} no-underline">All</a>
                <a href="/category/books"
                   class="collection-item category {% if category == 3 %}active{% endif %} no-underline">Books</a>
                <a href="/category/electronics "
                   class="collection-item category {% if category == 1 %}active{% endif %} no-underline">Electronics</a>
                <a href="/category/shoes"
                   class="collection-item category {% if category == 4 %}active{% endif %} no-underline">Shoes</a>
                <a href="/category/videogames"
                   class="collection-item category {% if category == 6 %}active{% endif %} no-underline">Video Games</a>
                <a href="/category/other"
                   class="collection-item category {% if category == 5 %}active{% endif %} no-underline">Other</a>
            </div>
        </div>
    </div>
    <div class="col s12 m9 l9">
        {% if items %}
        {% load cropping %}
        <div class="row">

            {% for item in items %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <a id="{{ item.listing.id }}" href="/listing/{{ item.listing.id }}">
                        <div class="card-image get-faded">
                            <img src="{% cropped_thumbnail item "cropping" width=195 %}">
                        </div>
                    </a>

                    <div class="card-content">
                        <h5 class="black-text truncate" style="font-size: 19px">
                            {{ item.title }}
                            <br>
                            <span style="font-size: 15px">Price: ${{ item.listing.price }}</span>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h2>This is awkward...there's nothing for sale! Why don't you <a href="/sell/">sell something</a>?</h2>
    {% endif %}
</div>
</div>
{% endblock %}