<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Circa - Buy and Sell Locally
    </title>
</head>
<body>
    {%  if items %}
        <ul>
            {% for item in items %}
            <li>{{item.title }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <h2>This is awkward...there's nothing for sale!
                <a href="https://gs1.wac.edgecastcdn.net/8019B6/data.tumblr.com/tumblr_m6r65iTw0j1qgwe4wo2_500.jpg">
                Why don't you sell something?</a></h2>

    {% endif %}
</body>
</html>