{% extends 'base.html' %}
{% load static %}
{% block title_block %}
{{ item.title }} | Circa
{% endblock %}
{% block head_block %}
<style type="text/css">
</style>
{% endblock %}
{% block body_block %}
<div class="take-space"></div>
<div class="container">
    {% if user.id and user.id == item.seller.id %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card-panel blue lighten-5">
          <span class="blue-text text-darken-3"><i class="mdi-action-info-outline"></i>
            This is your item. Share this link to get more offers!
          </span>
            </div>
        </div>
    </div>
    {% endif %}
    {% if item.listing.current_offer_user.id and user.id == item.listing.current_offer_user.id %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card-panel green lighten-5">
          <span class="green-text text-darken-3"><i class="mdi-action-stars"></i>
            You currently have the highest offer!
          </span>
            </div>
        </div>
    </div>
    {% endif %}
    {% if error_message %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card-panel red lighten-5">
          <span class="red-text text-darken-3"><i class="mdi-alert-warning"></i>
            {{ error_message }}
          </span>
            </div>
        </div>
    </div>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card-panel red lighten-5">
              <span class="red-text text-darken-3"><i class="mdi-alert-warning"></i>
                {{ message }}
              </span>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="thumbnail cust">
                <div class="listing-panel">
                    {% if user.id and user.id == item.seller.id %}
                    <a id="edit" href="/edit/{{listing.id}}"><span class="btn blue white-text right
                        waves-effect waves-light">
                        Edit</span></a>
                    {% endif %}
                    <h3 id="listing-title" class="listing-title">{{ item.title }}</h3>
                    <img class="img-thumbnail center-block" src="{{ item.photo.url }}" style="max-height:450px;">
                    <p>{{ item.description|linebreaks }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="thumbnail cust">
                <div class="listing-panel">
                    {% if free %}
                    <h3 class="price-title">Price: Free!</h3>
                    <p><small>Don't worry about payment, this one is on us!</small></p>
                    {% elif discount %}
                    <h3 class="price-title">Price: ${{ discounted_price }}</h3>
                    <p><small><small>Discount: ${{ discount }}</small></small></p>
                    {% elif item_sold == 1 %}
                    <h3 class="price-title">Sold on {{ listing.end_date|date:"M d, Y" }}</h3>
                    {% else %}
                    <h3 class="price-title">Price: ${{ item.listing.price }}</h3>
                    {% endif %}
                    <a class="hidden-xs hidden-sm right" href="https://stripe.com" target="_blank">
                        <img src="{% static 'other/powered_by_stripe.png' %}" alt="Powered By Stripe"/>
                    </a>
                    <a class="hidden-md hidden-lg left" href="https://stripe.com" target="_blank">
                        <img src="{% static 'other/powered_by_stripe.png' %}" alt="Powered By Stripe"/>
                    </a>
                    <br class="hidden-md hidden-lg">
                    <br class="hidden-md hidden-lg">
                    {% if free %}
                    <form method="POST" action="/listing/{{item.listing.id}}/{{ item.slug }}/">
                        {% csrf_token %}
                        <button class="btn custom green lighten-2 waves-effect waves-light buy-button" type="submit"
                                name="free" id="buy-item-free">Confirm Address
                            <i class="mdi-editor-attach-money right"></i>
                        </button>
                    </form>
                    {% elif item_sold == 1 or user.id and user.id == item.seller.id %}
                    <button class="btn custom green lighten-2 waves-effect waves-light disabled" type="submit"
                            name="action" id="buy-item-disabled">Buy Now
                        <i class="mdi-editor-attach-money right"></i>
                    </button>
                    {% elif not user.id %}
                    <a style="" class="btn custom green lighten-2 waves-effect waves-light" type="submit"
                            name="action" href="/accounts/login/?next=/listing/{{ listing.id }}"
                            id="buy-item-redirect" style="right: 10px">Buy Now
                        <i class="mdi-editor-attach-money right"></i>
                    </a>
                    {% else %}
                    <script src="https://checkout.stripe.com/checkout.js"></script>

                    <button id="buy-item" class="btn custom green lighten-2 waves-effect waves-light" type="submit"
                            name="action">Buy Now
                        <i class="mdi-editor-attach-money right"></i>
                    </button>
                    <script type="text/javascript">
                              var item = "{{item.title}}"
                              {% if discount %}
                              var stripe_amount = "{{discounted_price_amount}}"
                              {% else %}
                              var stripe_amount = "{{amount}}"
                              {% endif %}
                              var handler = StripeCheckout.configure({
                                key: '{{ stripe_key }}',
                                // image: '/img/documentation/checkout/marketplace.png',
                                token: function(token) {
                                  var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                                  var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                                  $("form").append(tokenInput).append(emailInput).submit();
                                }
                              });

                              $('#buy-item').on('click', function(e) {
                                // Open Checkout with further options
                                handler.open({
                                  name: 'Circa',
                                  description: item,
                                  amount: stripe_amount,
                                  email: '{{ user.email }}'
                                });
                                e.preventDefault();
                              });

                              // Close Checkout on page navigation
                              $(window).on('popstate', function() {
                                handler.close();
                              });

                    </script>
                    {% endif %}
                    {% if user.id and user.id != item.seller.id and item_sold != 1 %}
                        <form class="form-inline" action="/listing/{{item.listing.id}}/{{ item.slug }}/" method="post">
                            {% csrf_token %}
                            <p class="input-field">
                                {{ form.code.errors }}
                                <label for="{{ form.code.id_for_label }}">Code</label>
                                {{ form.code }}
                            </p>
                            <button type="submit" class="btn custom light-blue accent-4 waves-effect waves-light" name="action">
                                Apply promo
                            </button>
                            <br><br>
                        </form>
                    {% else %}
                        <div class="form-inline">
                            <input name="dummy" type="text" value="Code" disabled>
                            <button type="submit" class="btn custom light-blue accent-4 waves-effect waves-light disabled" name="action">
                                Apply promo
                            </button>
                            <br><br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <form action="{{request.path}}" method="POST">
        {% csrf_token %}
    </form>
    <p class="grey-text text-darken-1">Circa guarantees one day shipping and no-questions-asked returns for 30
        days.</p>
</div>

{% endblock %}