{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    {{ item.title }} | Circa
{% endblock %}
{% block head_block %}
<script type="text/javascript">
    function countdown(minutes, seconds, display) {
            m = parseInt(minutes, 10);
            s = parseInt(seconds, 10) - 2;

            if(s < 0) {
                display.textContent = "";
            } else {
                setInterval(function() {
                    var displayStr = m + " minutes and " + s + " seconds";
                    if(--s < 0) {
                        if(--m < 0) {
                            displayStr = "";
                        } else {
                            s = 59
                        }
                    }
                    display.textContent = displayStr;
                }, 1000);
            }
        }
        window.onload = function () {
        var display = document.querySelector('#time');
        countdown({{ minutes }}, {{ seconds }}, display);
        };
</script>
<link href="{% static 'css/main.css'%}" rel="stylesheet" media="screen">
{% endblock %}

{% block body_block %}
{% load cropping %}
<div class="take-space"></div>
<div class="container">
    {% if user.id and user.id == item.seller.id %}
    <div class="row">
      <div class="col s12">
        <div class="card-panel blue lighten-5">
          <span class="blue-text text-darken-3"><i class="mdi-action-info-outline"></i>
            This is your item. Share this link to get more offers!
          </span>
        </div>
      </div>
    </div>
    {% endif %}
    {% if item.listing.current_offer_user.id and user.id == item.listing.current_offer_user.id %}
    <div class="row">
      <div class="col s12">
        <div class="card-panel green lighten-5">
          <span class="green-text text-darken-3"><i class="mdi-action-stars"></i>
            You currently have the highest offer!
          </span>
        </div>
      </div>
    </div>
    {% endif %}
    {% if error_message %}
    <div class="row">
      <div class="col s12">
        <div class="card-panel red lighten-5">
          <span class="red-text text-darken-3"><i class="mdi-alert-warning"></i>
            {{ error_message }}
          </span>
        </div>
      </div>
    </div>
    {% endif %}
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <div class="center-align col l4 m6 s12">
                        <span class = "badge white-text">Edit</span>
                        <span class="card-title black-text hide-on-med-and-up">{{ item.title }}</span>

                        <br>
                        <img src="{% cropped_thumbnail item "cropping" width=150 %}">
                        <br>
                        <br>
                        <em>Ships from zipcode {{ item.listing.zipcode }}</em>
                        <br>
                        <br>
                        {% if status == 2 %}
                        The first offer will be accepted within <span class="red-text">one hour</span> unless a higher offer is made
                        {% elif status == 1 %}
                        <span class="red-text">This item has been claimed</span>
                        {% else %}
                        The current offer will be accepted in
                        <br>
                        <strong><span class="red-text" id="time"> {{ minutes }} minutes and {{ seconds|add:"-1" }} seconds</span></strong>
                        <br>
                        unless a higher offer is made.
                        {% endif %}
                        <br>
                    </div>

                    <div class="col l4 m6 s12">
                        <span class="card-title black-text hide-on-small-only">{{ item.title }}</span>
                        <span class = "badge white-text hide-on-small-only">Edit</span>
                        <br>
                        <p>{{ item.description|linebreaks }}</p>
                        <br><br>
                    </div>
                    <div class="col l4 m6 s12">
                        <div>
                            <div class="card-title black-text">
                            {% if status == 2 %}
                                Asking price: ${{ item.listing.starting_offer }}
                            {% else %}
                                Current Offer: ${{ item.listing.current_offer }}
                            {% endif %}
                            </div>
                            <br>
                            <form class="form-inline" action = "/listing/{{ listing.id }}/" method = "post">
                                <div class = "form-group">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                        <p class="input-field">
                                            {{ form.offer.errors }}
                                            <label for="{{ form.offer.id_for_label }}">Your Offer</label>
                                            {{ form.offer }}
                                        </p>
                                        <p class="input-field">
                                            {{ form.zipcode.errors }}
                                            <label for="{{ form.zipcode.id_for_label }}">Zipcode</label>
                                            {{ form.zipcode }}
                                        </p>
                                    {% if user.id and user.id == item.seller.id or status == 1%}
                                    <button class="btn green waves-effect waves-light disabled" type="submit" name="action">Make Offer
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                    {% else %}
                                    <button class="btn green waves-effect waves-light" type="submit">Make Offer
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                    {% endif %}
                                 </div>
                            </form>
                            <br>
                            <div class="form-group">
                                <span class="card-title black-text">Buy now for: ${{ item.listing.buy_now_price }}</span>
                                <br><br>
                                {% if user.id and user.id == item.seller.id or status == 1%}
                                <button class="btn blue waves-effect waves-light disabled" type="submit" name="action">Buy Now
                                        <i class="mdi-editor-attach-money right"></i>
                                </button>
                                {% else %}
                                <script src="https://checkout.stripe.com/checkout.js"></script>

                                <button id="buyNow" class="btn blue waves-effect waves-light" type="submit" name="action">Buy Now
                                        <i class="mdi-editor-attach-money right"></i>
                                </button>

                                <script type = "text/javascript">
                                      var stripe_amount = "{{amount}}"
                                      var item = "{{item.title}}"
                                      var handler = StripeCheckout.configure({
                                        key: '{{ stripe_key }}',
                                        // image: '/img/documentation/checkout/marketplace.png',
                                        token: function(token) {
                                          var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                                          var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                                          $("form").append(tokenInput).append(emailInput).submit();
                                        }
                                      });

                                      $('#buyNow').on('click', function(e) {
                                        // Open Checkout with further options
                                        handler.open({
                                          name: 'Circa',
                                          description: item,
                                          amount: stripe_amount
                                        });
                                        e.preventDefault();
                                      });

                                      // Close Checkout on page navigation
                                      $(window).on('popstate', function() {
                                        handler.close();
                                      });
                                </script>
                                {% endif %}
                            </div>
                            <br>
                    </div>
                </div>
            </div>
        </div>

        <form action="{{request.path}}" method="POST">
            {% csrf_token %}
        </form>
       <p class="grey-text text-darken-1">Circa guarantees one day shipping and no-questions-asked returns for 30 days.</p>
    </div>
</div>

{% endblock %}