{% extends 'base.html' %}
{% block title_block %}
    Pay
{% endblock %}
{% block body_block %}
{% load cropping %}
    <div class="take-space"></div>
    <div class = "container">
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <div class="center-align col l4 m6 s12">
                        <img src="{% cropped_thumbnail item "cropping" width=150 %}">
                        <br>
                        <br>
                        <em>Ships from zipcode {{ item.listing.zipcode }}</em>
                        <br>
                        <br>
                        This listing ended {{ days }} days, {{ hours }} hours, and {{ minutes }}
                            minutes ago.
                        <br><br>
                    </div>

                    <div class="col l4 m6 s12">
                        <span class="card-title black-text">{{ item.title }}</span>
                        <p>{{ item.description|linebreaks }}</p>
                        <br><br>
                    </div>
                    <div class="col l4 m6 s12">
                                <div class="form-group">
                                <p class="card-title black-text">Winning Offer: ${{ listing.current_offer}}</p>
                                <script src="https://checkout.stripe.com/checkout.js"></script>

                                <form action="/pay/{{ listing.id }}/" method="post">
                                     {% csrf_token %}
                                <button id="buyNow" class="btn green waves-effect waves-light" type="submit" name="action">Pay Now
                                        <i class="mdi-editor-attach-money right"></i>
                                </button>

                                <script type = "text/javascript">
                                      var stripe_amount = "{{amount}}"
                                      var item = "{{item.title}}"
                                      var handler = StripeCheckout.configure({
                                        key: '{{ stripe_key }}',
                                        // image: '/img/documentation/checkout/marketplace.png',
                                        token: function(token) {
                                          var tokenInput = $("<input type=hidden name=stripeToken />").val(token.id);
                                          var emailInput = $("<input type=hidden name=stripeEmail />").val(token.email);
                                          $("form").append(tokenInput).append(emailInput).submit();
                                        }
                                      });

                                      $('#buyNow').on('click', function(e) {
                                        // Open Checkout with further options
                                        handler.open({
                                          name: 'Circa',
                                          description: item,
                                          amount: stripe_amount
                                        });
                                        e.preventDefault();
                                      });

                                      // Close Checkout on page navigation
                                      $(window).on('popstate', function() {
                                        handler.close();
                                      });
                                </script>
                            </form>
                            <br>
                            </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <form action="{{request.path}}" method="POST">
            {% csrf_token %}
        </form>
       <p class="grey-text text-darken-1">Circa guarantees one day shipping and no-questions-asked returns for 30 days.</p>
    </div>
{% endblock %}