{% extends 'base.html' %}
{% block title_block %}
    Pending
{% endblock %}
{% block body_block %}
    <div class = "container">
        <h1>
            Pending Payments
        </h1>
        {% if items %}
            <p>You've paid for these items, but haven't confirmed shipping.  Do it now so we can get it to you sooner!</p>
            <br>
            <table class = "table table-striped">
            <tr>
                <th>Item</th>
                <th>Your Winning Offer</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td><a id="{{ item.id }}" href = "/confirm/{{item.listing.id}}/">{{ item.title }}</a></td>
                    <td>${{ item.listing.price }}</td>
                </tr>

            {% endfor %}
        </table>
        {% else %}
            <p>No items are waiting for action. Let's <a href="http://cdn0.dailydot.com/uploaded/images/original/2013/1/7/cage6.jpg" target="_blank">celebrate!</a></p>
        {% endif %}


    </div>
{% endblock %}
