{% extends 'base.html' %}
{% block body_block %}
    <div class = "container">
        <h2>
            Pending auctions
        </h2>
        {% if items %}
            <p>You've won theese auctions but haven't paid for them yet. Pay now so you can get your stuff!</p>
            <br>
            <table class = "table table-striped">
            <tr>
                <th>Item</th>
                <th>Your Winning Bid</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td><a href = "/pay/{{item.auction.id}}/">{{item.title}}</a></td>
                    <td>${{item.auction.current_bid}}</td>
                </tr>

            {% endfor %}
        </table>
        {% else %}
            <p>You have no outstanding unpaid auctions. Let's <a href="http://cdn0.dailydot.com/uploaded/images/original/2013/1/7/cage6.jpg" target="_blank">celebrate!</a></p>
        {% endif %}


    </div>
{% endblock %}
