{% extends 'base.html' %}
{% load static %}
{% block head_block %}
{{ form.media }}
<script type="text/javascript">
function change() {
    price = document.getElementById("id_price").value;
    price = parseInt(price);

    if (isNaN(price) || price < 5) {
        document.getElementById("seller-earnings").innerHTML = 'Invalid Price';
    } else {
        document.getElementById("seller-earnings").innerHTML = '$' + Math.round(calcEarnings(price) * 100) / 100;
    }
}

function calcEarnings(price) {
    COMMISSION_PERCENT = {{ commission_percent }};
    COMMISSION_FLAT = {{ commission_flat }};
    COMMISSION_BREAKEVEN = {{ commission_breakeven }};
    COMMISSION_MAX = {{ commission_max }};

    if (price < COMMISSION_BREAKEVEN) {
        return price - COMMISSION_FLAT;
    } else if (price >= COMMISSION_BREAKEVEN & price * COMMISSION_PERCENT < COMMISSION_MAX) {
        return price * (1 - COMMISSION_PERCENT)
    } else {
        return price - COMMISSION_MAX;
    }
}
</script>
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="card col s10 offset-s1 m8 offset-m2 l6 offset-l3">
            <div class="card-content center ">
                <span class="card-title black-text" style="font-size: 30px;">List an item for sale</span>
                <form id="item_form" method="post" action="/sell/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.non_field_errors }}
                        {{ form.title.errors }}
                        <p class="input-field">
                            <label for="{{ form.title.id_for_label }}">Title</label>
                            {{ form.title }}
                        </p>
                        {{ form.description.errors }}
                        <p class="input-field">
                            <label for="{{ form.description.id_for_label }}">Description</label>
                            {{ form.description }}
                        </p>
                        {{ form.category.errors }}
                        {{ form.category }}
                        <p>
                            {{ form.photo.errors }}

                        <div class="file-field input-field">
                            <input class="file-path validate" type="text"/>

                            <div class="btn blue" style="padding-right: 20px; padding-left: 20px;">
                                <span>Photo</span>
                                {{ form.photo }}
                            </div>
                        </div>
                        </p>
                        {{ form.price.errors }}
                        <p class="input-field col s12 m6">
                            <label for="{{ form.price.id_for_label }}">Price</label>
                            {{ form.price }}
                        </p>
                        <div class="input-field col s12 m6 center-block">
                            <p class="center">You earn: <span id="seller-earnings">Input a Price</span></p>
                        </div>
                        {{ form.zipcode.errors }}
                        <p class="input-field col s12">
                            <label for="{{ form.zipcode.id_for_label }}">Shipping Zip Code</label>
                            {{ form.zipcode }}
                        </p>
                    </div>
                    <button id="list-item-button" class="btn-large waves-effect waves-light teal accent-4" type="submit"
                            name="action">List Item<i class="mdi-content-send right"></i>
                    </button>
                </form>
                <br>
                <p>
                    <small>Once your items sells, you'll be able to schedule a pickup. By
                    posting your item, you agree to <a href="/policies/terms#selling" target="_blank">Circa's terms and
                    conditions</a>, including Circa's fee of $2 or 15% of the transaction, whichever is greater (with a max fee of $10).
                    </small>
                </p>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}