{% extends 'base.html' %}
{% load static %}
{% block head_block %}
{{ form.media }}
{% endblock %}
{% block body_block %}
    <div class = "container">
        <h1>List an item for sale</h1>

                <form id ="item_form" method="post" action="/sell/"  enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}

                    </div>

                    <input type="submit" name="submit" class="btn btn-primary" value="List item" />
                </form>
        <br>
        <p><small>Once you list your item, you'll be able to set a price, create a listing, and schedule a pickup. By
            posting your item, you agree to <a href="/policies/terms#selling" target="_blank">Circa's terms and conditions</a>.
        </small></p>
    </div>
{% endblock %}