{% extends 'base.html' %}
{% block title_block %}
    Circa Terms and Conditions
{% endblock %}
{% block body_block %}
    <div class = "container">
        <div class="row">
            <div class="col-xs-12">
                <div class="card center about-card">
                    <div class="card-content">
                    <h1>Terms and Conditions</h1>
                    <p>
                        When using Circa, you are bound by the following commonsense Terms and Conditions:
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-xs-12">
                <div class="card">
                    <div class="card-content">
                        <h2 class="center">Selling</h2>
                        <ol>
                            <li> You agree to accurately describe and represent the item. This applies to all aspects of the listing, including the title, photo(s), and description. </li>
                            <li> You agree to our fee of 15% of any transactions, with a minimum free of $2 and a maximum fee of $10. This means you'll receive $8 on a $10 sale, $17 on a $20 sale, and $590 on a $600 sale. </li>
                            <li> You agree to only sell items that weigh less than 50 pounds and can fit in the back of a midsize sedan. Sorry, but <a href="http://img.pandawhale.com/post-30267-what-do-you-say-you-cut-me-som-E1On.gif" target="_blank">we can't deliver larger items!</a></li>
                            <li> You agree not to sell anything that may violate local, state, or federal law, such as controlled substances, weapons requiring a permit, etc. </li>
                            <li> You agree to schedule a pick up in a timely manner (preferably within 24 hours) once an offer has been accepted. The sooner you schedule the pickup, the sooner you get paid! </li>
                            <li> You agree to allow returns for a full refund for 30 days. In the case of a return, we will reverse the transaction and return the item to you within 24 hours of picking it up from the buyer. We'll let you know ahead of time if your item is being returned. </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-xs-12">
                <div class="card">
                    <div class="card-content">
                        <h2 class="center">Buying</h2>
                            <ol>
                                <li> When you make an offer, you agree to pay that amount if your offer is accepted. If you're not sure about paying that amount, please don't offer!</li>
                                <li> You agree to provide an accurate zip code when making an offer. We can't deliver items outside these zip codes. If you'd like us to consider delivery to your zip, email us at support@usecirca.com. </li>
                                <li> You agree to Circa's return policy, which allows returns within 30 days of purchase for any reason as long as the item hasn't been damaged or altered in any significant way since you purchased it. </li>
                            </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}