{% extends 'base.html' %}
{% block title_block %}
    Circa Terms and Conditions
{% endblock %}
{% block body_block %}
    <div class = "container">
        When using Circa, you are bound by the following commonsense Terms and Conditions:
<strong id ="selling">Selling</strong>:
<ol>
	<li> You agree to accurately describe and represent the item. This applies all aspects of the listing, including the title, photo(s), and description. </li>
	<li> You agree not to sell anything that may violate local, state, or federal law, such as controlled substances, weapons requiring a permit, etc. </li>
	<li> You agree to schedule a pick up in a timely manner (preferably within 24 hours) once the auction is over. The sooner you schedule the pickup, the sooner you get paid! </li>
	<li> You agree to allow returns for a full refund for 30 days. In the case of a return, we will reverse the transaction and return the item to you within 24 hours of picking it up from the buyer. We'll let you know ahead of time if your item is being returned. </li>
</ol>
<strong>Buying</strong>
<ol>
	<li> When you make a bid, you agree to pay that amount if you win the auction. If you're not sure about paying that amount, please don't bid!</li>
	<li> You agree to provide an accurate zip code when placing a bid. We can't deliver items outside these zipcodes. If you'd like us to deliver to your zip, email us at support@usecirca.com. </li>
	<li> You agree to Circa's return policy, which allows returns for the first 30 days within purchase for any reason. </li>
</ol>
    </div>
{% endblock %}