{% extends 'base.html' %}
{% load static %}
{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets.css'%}">
    <script type="text/javascript" src="{% static 'js/app.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js'%}"></script>

    <script text="text/javascript">
        function calc_time_left(end, display) {
            var time_left = end - (Date.now() / 1000.0);
            var displayText;

            if(time_left > 0) {
                // We only care about hours left
                time_left = time_left / 3600.0;
                if(time_left < 1){
                    //less than an hour left, display minutes
                    time_left = time_left * 60.0;
                    time_left = Math.floor(time_left);
                    displayText = time_left + " min";
                    }
                else {
                    time_left = Math.floor(time_left);
                    displayText = time_left + " hours";
                    }
            } else {
                displayText = "None";
            }
            display.textContent = displayText
        }
        window.onload = function () {
        var display;
        {% for item in items %}
            display = document.querySelector("#time_left{{ item.listing.id }}");
            {% if item.listing.end_date %}
                calc_time_left({{ item.listing.end_date|date:"U" }}, display);
            {% endif %}
        {% endfor %}
    };
    </script>
{% endblock %}
{% block title_block %}
    Dashboard
{% endblock %}
{% block nav_block %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
{% endblock %}

{% block body_block %}
<body>
    <div class="container">
    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
      <div class="row header">
          <div class="col-xs-12">
            <div class="meta pull-left">
              <div class="page">
              </div>
            </div>
          </div>

        <!-- End Header Bar -->


        <!-- Main Content -->
        {% if items %}
        {% load cropping %}
          <div class="row">
          {% for item in items %}
            <div class="col-lg-6 col-md-6 col-xs-12">
            <a id="no-format" href="/listing/{{item.listing.id}}">
              <div id="get-faded" class="widget">
                <div class="widget-body">
                  <div class="widget-icon">
                    <div class="centering"><img src="{% cropped_thumbnail item "cropping" width=150 %}" alt="..." class="img-rounded"></div>
                  </div>
                  <div class="widget-content">
                    <div class="title"><p><span class="avoidwrap">{{ item.title|truncatechars:50 }}</span>
                        <br>
                        <div>
                        {% if item.listing.current_offer %}
                        Current Offer: <strong>${{ item.listing.current_offer }}</strong>
                        {% else %}
                        Asking price: <strong>${{ item.listing.starting_offer }}</strong>
                        {% endif %}
                        <br>
                        Buy now for: <strong>${{ item.listing.buy_now_price }}</strong>
                        <br>
                        {% if item.listing.end_date %}
                        Time Left: <strong><span id="time_left{{ item.listing.id }}"></span></strong>
                        {% endif %}
                        </div>
                        </p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              </a>
            </div>
          {% endfor %}
          </div>
        {% else %}
          <h2>This is awkward...there's nothing for sale! Why don't you <a href="/sell/">sell something</a>?</h2>
        {% endif %}


        <!-- End Main Content -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Container -->


{% endblock %}