<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Circa To-do List</title>
</head>
<body>
    <ol>
        <li><strike>Django setup</strike></li>
        <li><strike>Create data models/database schema</strike></li>
        <li><strike>Create home page listing all items available for auction</strike></li>
        <li><strike>Create flow for posting an item</strike></li>
        <li><strike>Create flow for bidding on an item</strike></li>
        <li>Create flow for buy it now on item (deferred until Stripe integration)</li>
        <li>Create flow for scheduling pickup (deferred until user authentication)</li>
        <li><strike>Add zip code validation to above flows</strike></li>
        <li>Figure out image upload and storage, and integrate into above flows (deferred until Bootstrap styling)</li>
        <li>Apply Bootstrap styling to site</li>
        <li>Refactor to use base template, if necessary.</li>
        <li>Create user authentication</li>
        <li>Make posting item flow require authentication</li>
        <li>Make bidding flow require authentication</li>
        <li>Stripe integration  </li>
        <li>Add Stripe checkout/authentication flow for people using buy it now</li>
        <li>Google search integration</li>
        <li>Postgres Integration</li>
        <li>Upload code to Pythonanywhere and configure</li>
        <li>Point domain name to website</li>
        <li>Remove To-do template,view, and url mapping from code</li>
        <li>Remove To-Do List from site</li>
    </ol>
</body>
</html>