<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Circa To-do List</title>
</head>
<body>
    <ol>
        <li><strike>Django setup</strike></li>
        <li><strike>Create data models/database schema</strike></li>
        <li><strike>Create home page listing all items available for auction</strike></li>
        <li><strike>Create flow for posting an item</strike></li>
        <li><strike>Create flow for bidding on an item</strike></li>
        <li><strike>Create flow for buy it now on item</strike></li>
        <li>Create flow for scheduling pickup (deferred until user authentication)</li>
        <li><strike>Add zip code validation to above flows</strike></li>
        <li><strike>Figure out image upload and storage, and integrate into above flows (deferred until user authentication)</strike></li>
        <li><strike>Apply Bootstrap styling to site</strike></li>
        <li><strike>Refactor to use base template, if necessary.</strike></li>
        <li><strike>Create user authentication</strike></li>
        <li><strike>Make posting item flow require authentication</strike></li>
        <li><strike>Make bidding flow require authentication</strike></li>
        <li>Stripe integration  </li>
        <li><strike>Add Stripe checkout/authentication flow for people using buy it now</strike></li>
        <li><strike>Add https everywhere</strike></li>
        <li>Google search integration</li>
        <li>Postgres Integration</li>
        <li><strike>Upload code to Pythonanywhere and configure</strike></li>
        <li><strike>Point domain name to website</strike></li>
        <li><strike>usecirca out of debug mode</strike></li>
        <li>Remove To-do template,view, and url mapping from code</li>
        <li>Remove To-Do List from site</li>
    </ol>
</body>
</html>