
/* Base */
html {
  overflow-y: scroll;
}
body {
  background: #f3f3f3;
  color: #333333 !important;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row > div {
  margin-bottom: 15px;
}
.alerts-container .alert:last-child {
  margin-bottom: 0;
}
#page-wrapper {
  padding-left: 70px;
  height: 100%;
}
#sidebar-wrapper {
  margin-left: -150px;
  left: -30px;
  width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
}
#page-wrapper,
#sidebar-wrapper {
  transition: all .4s ease 0s;
}
.green {
  background: #23ae89 !important;
}
.blue {
  background: #2361ae !important;
}
.orange {
  background: #d3a938 !important;
}
.red {
  background: #ae2323 !important;
}
.form-group .help-block.form-group-inline-message {
  padding-top: 5px;
}
div.input-mask {
  padding-top: 7px;
}
a#no-format:link, a#no-format:visited {
    color: #000000;
    cursor: auto;
    text-decoration: none;
}
a#no-format:hover {
    color: #000000;
    cursor: auto;
    text-decoration: none;
    background-color: #000000;
    z-index: 10
}
hover-bg:hover {
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=40);
    z-index: 9999;
}
a:link:active, a:visited:active {
    color: #000000;
}
