body {
  background: #f3f3f3;
  color: #333333 !important;
}

div.take-space {
  margin: 20px;
}

div.get-faded:hover {
  opacity: 0.6;
}

.fb-blue{
	background-color: #009ee1 !important; }

footer.page-footer {
  background-color: #009ee1 }
  footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: blue darken-3 }
