{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class = "container">
    <h1>Login</h1>
    {% if next %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel red lighten-5">
          <span class="red-text text-darken-3"><i class="mdi-alert-warning"></i>
            You need to log in to do that!
          </span>
            </div>
        </div>
    </div>
    {% endif %}

        <form method="post" action=".">
             {% csrf_token %}
             {{ form.non_field_errors }}
                <p class="input-field">
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                </p>
                <p class="input-field">
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </p>
             <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
             <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <br>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
                <img src="{% static 'other/fb-login-image.png' %}" alt = "Log in with Facebook">
            </a>
    <br><br>
    <p>Feeling sad and left out? <a href="{% url 'registration_register' %}?next={{ next }}">Sign up for Circa</a>!</p>
    <p>Feeling forgetful? <a href="{% url 'auth_password_reset' %}">Reset your password</a>!</p>
</div>
{% endblock %}