<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}

{% if validlink %}
<div class="container">
    <h1>Password Reset</h1>
    <form method="POST" action=".">
        {% csrf_token %}
        <p class="input-field">
            {{ form.new_password1.errors }}
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
        </p>
        <p class="input-field">
            {{ form.new_password2.errors }}
            <label for="{{ form.new_password2.id_for_label }}">New Password Confirmation</label>
            {{ form.new_password2 }}
        </p>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>
{% else %}
<p>Password reset failed</p>
{% endif %}
{% endblock %}