<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="take-space"></div>
    <div class="row">
        <div class="card col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-content center ">
                <span class="card-title black-text" style="font-size: 30px;">Password Reset</span>
                <br><br>
                <form method="post" action=".">
                    {% csrf_token %}
                    <p class="input-field">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">E-mail</label>
                        {{ form.email }}
                    </p>
                  <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}