<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block head_block %}
    <link href="{% static 'css/main.css'%}" rel="stylesheet" media="screen">
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="take-space"></div>
    <div class="take-space"></div>
    <div class="row">
        <div class="card col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-content center ">
                <span class="card-title black-text" style="font-size: 30px;">Password Reset Successful</span>
                <br><br>
                <p>Password reset successfully!  You can now login with your new password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}