<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="take-space"></div>
    <div class="row">
        <div class="card col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-content center ">
                <span class="card-title black-text" style="font-size: 30px;">Reset Email Sent</span>
                <p>Check your email for the password reset instructions.
                    If after 10 minutes you haven't received anything, reach out to us at support@usecirca.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}