<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}

{% if validlink %}
<div class="container">
    <div class="take-space"></div>
    <div class="row">
        <div class="card col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-content center ">
                <span class="card-title black-text" style="font-size: 30px;">Password Reset</span>
                <br><br>
                <form method="POST" action=".">
                    {% csrf_token %}
                    <p class="input-field">
                        {{ form.new_password1.errors }}
                        <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                        {{ form.new_password1 }}
                    </p>
                    <p class="input-field">
                        {{ form.new_password2.errors }}
                        <label for="{{ form.new_password2.id_for_label }}">New Password Confirmation</label>
                        {{ form.new_password2 }}
                    </p>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<p>Password reset failed</p>
{% endif %}
{% endblock %}