{% extends "base.html" %}
{% load static %}

{% block body_block %}
    <div class = "container">
        <h1>Sign up for Circa</h1>
                <form method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" value="Sign up" />
                        </div>
                </form>
        <br>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                <img src="{% static 'other/fb-login-image.png' %}" alt = "Log in with Facebook">
            </a>
    </div>
{% endblock %}