{% extends "base.html" %}
{% load static %}

{% block body_block %}
    <div class = "container">
        <h1>Sign up for Circa</h1>
                <form method="post" action=".">
                        {% csrf_token %}
                        <div class="form-group">
                            <p class="input-field">
                                {{ form.username.errors }}
                                <label for="{{ form.username.id_for_label }}">Username</label>
                                {{ form.username }}
                            </p>
                            <p class="input-field">
                                {{ form.email.errors }}
                                <label for="{{ form.username.id_for_label }}">E-mail</label>
                                {{ form.email }}
                            </p>
                            <p class="input-field">
                                {{ form.password1.errors }}
                                <label for="{{ form.username.id_for_label }}">Password</label>
                                {{ form.password1 }}
                            </p>
                            <p class="input-field">
                                {{ form.password2.errors }}
                                <label for="{{ form.username.id_for_label }}">Password Confirmation</label>
                                {{ form.password2 }}
                            </p>
                            <input type="submit" class="btn btn-primary" value="Sign up" />
                        </div>
                </form>
        <br>
            <a href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
                <img src="{% static 'other/fb-login-image.png' %}" alt = "Log in with Facebook">
            </a>
    </div>
{% endblock %}